<h1>ErrorPageComponent</h1>
<ul>
    <li>
        <a routerLink="/auth/login">
            ir a login
        </a>
    </li>
    <li>
        <a routerLink="/auth/register">
            ir a Registro
        </a>
    </li>
    
    <li>
        <a routerLink="/heroes/listado">
            Ir a Listado
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Ir a Agregar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar/:id">
            Ir a Editar/:id
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Ir a Buscar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/id">
            Ir a id
        </a>
    </li>
</ul>
